##############################################################################
# LOGI Pi LX9 UCF File For Decred FPGA Miner                                 #
##############################################################################

##############################################################################
# Timing Constraints                                                         #
##############################################################################
NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 50 MHZ HIGH 50%;

##############################################################################
# Clock Pins                                                                 #
##############################################################################
NET "clk"		LOC = "P85"		|	IOSTANDARD = LVTTL;

##############################################################################
# UART Pins                                                                  #
# rx = FPGA RX (Host TX)                                                     #
# tx = FPGA TX (Host RX)                                                     #
##############################################################################
NET "tx"			LOC = "P83"		|	IOSTANDARD = LVTTL;
NET "rx"			LOC = "P82"		|	IOSTANDARD = LVTTL;
